{% extends "website_template.html" %}
{% load static %}

{% block title %}
    Browse
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'listings.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
    <p {{madequery}}> Results for "{{query}}"</p>
    <br>
    <button {{isnothidden}} class="add-listing" onclick="location.href='/listing/add'">
        &#43 Create Listing
    </button>
    <br>

    <!-- Sample book db - remove later -->

    

    <div class = 'grid'>
        {% for x in listings %}
            
                <div class="grid-item">
                    <div class="card">
                        <img class="card-img" src="" alt="book {{x.id}}">
                        <div class="card-content">
                            <h1 class="card-header"> {{x.book_title}} </h1>
                            <p class="card-text">
                                {{x.isbn}}
                                <br>
                                {{x.genre}}
                            </p>
                            <button class="card-btn">
                                Add to Cart <span>&rarr;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>


{% endblock %}